<section class="manage-models">
  <h2>Gestión de Modelos</h2>
  <button>Agregar Nuevo Modelo</button>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Fecha</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% modelSeed.forEach(model => { %>
        <tr>
          <td>Modelo 1</td>
          <td>Arquitectura</td>
          <td>10/04/2025</td>
          <td>
            <button>Editar</button>
            <button>Eliminar</button>
            <button>Visualizar</button>
          </td>
        </tr>
      <% }) %>
      <!-- <tr>
        <td>Modelo 1</td>
        <td>Arquitectura</td>
        <td>10/04/2025</td>
        <td>
          <button>Editar</button>
          <button>Eliminar</button>
          <button>Visualizar</button>
        </td>
      </tr> -->
      <!-- Más filas aquí -->
    </tbody>
  </table>
</section>