<footer>
    <div class="follow">
        <h3>Seguinos</h3>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-discord"></i>
    </div>
    <div class="company">
        <h3>Compania</h3>
        <ul>
            <li>Nosotros</li>
            <li><a href="#">Nuestros servicios</a></li>
            <li><a href="#">Politica de privacidad</a></li>
            <li><a href="/products/create">Subir Modelo</a></li>
        </ul>
    </div>
    <div class="help">
        <h3>Ayuda</h3>
        <ul>
            <li>Preguntas</li>
            <li>Compras</li>
            <li>Pago</li>
        </ul>
    </div>
</footer>