navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    border: 1px solid white;
    border-radius: 20px;
    align-items: center;
}

navbar h2{
    margin: 5px 0;
    border: 1px solid purple;
}

h1{
    border: 1px solid purple;
    width: auto;
}
