<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs',{style:"not-found"}) %>

    <body>
        <%- include('./partials/nav-bar.ejs') %>

        <main>
            <div class="title">
                <h1><%= title %></h1>
            </div>
            <div class="image">
                <img src="https://i.pinimg.com/564x/61/b9/db/61b9db923cf4353c83fb48519af9066a.jpg" alt="not-found">
            </div>
        </main>

        <%- include('./partials/footer.ejs') %>
    </body>

</html>